@import url("../../assets/style.css");

.LessonPanel {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 170px;
  margin: 37px 100px 0;
  padding: 32px 147px 0 27px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #ffffff;
}

.SchoolOf {
  margin: 0 39px 10px 0;
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-three);
}

.title {
  margin: 0;
  font-family: RobotoSlab;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: var(--black-three);
}

.Author {
  margin: 4px 0 40px 0;
  /* margin: 0; */
  font-family: RobotoSlab;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.Comments {
  width: 73px;
  height: 19px;
  margin: 3px 15px 2px 0;
  font-family: RobotoSlab;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.Remove {
  width: 54px;
  height: 19px;
  margin: 3px 15px 2px 0;
  font-family: RobotoSlab;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.Edit {
  width: 27px;
  height: 19px;
  margin: 3px 298px 2px 17px;
  font-family: RobotoSlab;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.Rectangle3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15%;
  padding: 9.9px 10px 12px 12px;
}

.Oval2 {
  width: 68px;
  height: 68px;
  border-style: solid;
  border-radius: 100%;
  border-width: 5px;
  border-color: var(--medium-blue);
  border-image-slice: 1;
}

.PercentComplete {
  width: 68px;
  height: 39px;
  margin: 0;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-three);
}

.Completed {
  width: 80px;
  height: 18px;
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-three);
}

.ChapterInfo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0;
  width: 20%;
}

.CurrentChapter {
  width: 100%;
  margin: 0;
  opacity: 0.5;
  font-family: RobotoSlab;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-three);
}

.CurrentLesson {
  width: 100%;
  height: 21px;
  font-family: RobotoSlab;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: var(--black-three);
}

.Rectangle2 {
  width: 184px;
  height: 33px;
  padding: 7px 19px 8px 22px;
  border-radius: 3px;
  background-color: var(--azure);
  border: none;
  color: #ffffff;
  font-family: RobotoSlab;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
}

.UpdateProgress {
  width: 143px;
  height: 18px;
  font-family: RobotoSlab;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
}
