@import url("../../assets/style.css");

.FilterContainer {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.FilterLabel {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: var(--azure);
}

.DropDown {
  width: 10vw;
  height: 5vh;
  border-radius: 5px;
  border: var(--pale-grey);
  margin-left: 15px;
}