:root {
  --pale-grey: #f5f6fa;
  --white: #fafafa;
  --black-5: rgba(0, 0, 0, 0.05);
  --black-three: #121212;
  --medium-blue: #307bbe;
  --dodger-blue: #379cf6;
  --azure: #0290ff;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display:ital@1&family=Roboto+Slab:wght@700&family=Source+Serif+Pro:wght@700&display=swap');
